{% extends 'base.html' %}
{% block head %} Contact {% endblock %}
    
{% block body %}
<main>

    {% if errors %}
    <div class="error">
        {% for error in errors %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}

    {% if success %}
    <div class="success">Thank you! Your message was sent.</div>
    {% endif %}

    <form method="POST" action="{{url_for('contact')}}">
        <label>Name:</label>
        <input type="text" name="name" value="{{request.form.get("name", "")}}"/><br><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{request.form.get("email", "")}}"/><br><br>

        <label>Message:</label>
        <textarea name="message" value="{{request.form.get("message", "")}}"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</main>
{% endblock %}