{% extends "base.html" %}

{% block head %} My Landing Page {% endblock %}

{% block body%}
    
<main>
    <section class="main">
        <h2>Welcome to my site.</h2>
        <p>Simple flask-powered landing page.</p>
        
    </section>

    <section class="features">
        <div class="feature"><a href="{{url_for('blog')}}">Blogs</a></div>
        <div class="feature">Feature 2</div>
        <div class="feature">Feature 3</div>
    </section>

    <section class="team">
        <a href="{{url_for('team')}}"><button>Team</button></a>
    </section>

</main>
{% endblock %}
</html>