{% extends "base.html" %}

{% block head %}
    <title>My Landing Page</title>
{% endblock %}

{% block body%}
    
<main>
    <section class="main">
        <h2>Welcome to my site.</h2>
        <p>Simple flask-powered landing page.</p>
        
    </section>

    <section class="features">
        <div class="feature">Feature 1</div>
        <div class="feature">Feature 2</div>
        <div class="feature">Feature 3</div>
    </section>

    <section class="team">
        <a href="/team"><button>Team</button></a>
    </section>

</main>
{% endblock %}
</html>