<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block head %} {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <h1>My Site.</h1>
            <div class="nav-right">
                <ul>
                    <li><a href="{{url_for('main.home')}}">Home</a></li>
                    <li><a href="{{url_for('main.about')}}">About</a></li>
                    <li><a href="{{url_for('main.contact')}}">Contact</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('blog.dashboard')}}">Dashboard</a></li>
                        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.login') }}">Login</a></li>
                        <li><a href="{{ url_for('main.register') }}">Register</a></li>
                    {% endif %}
                </ul>
                <div>
                    <button>Get started</button>
                    <button id="theme-toggle">🌞</button>
                </div>
            </div>
            
        </nav>
    </header>
    {% block body %} {% endblock %}
    
    <footer>
        <h3>&copy; 2025 My Site</h3>
        <p>Contact: me@gmail.com</p>
    </footer>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>