{% extends 'base.html' %}
{% block head %} Contact {% endblock %}
    
{% block body %}
<main>


    {% with messages = get_flashed_messages(with_categories= true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div class="flash {{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    <form method="POST" action="{{url_for('main.contact')}}">
        <label>Name:</label>
        <input type="text" name="name" value="{{request.form.get("name", "")}}"/><br><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{request.form.get("email", "")}}"/><br><br>

        <label>Message:</label>
        <textarea name="message" value="{{request.form.get("message", "")}}"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</main>
{% endblock %}