{% extends 'base.html' %}

{% block head %} Login {% endblock %}

{% block body %}
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="login-form">
            <h2>Login</h1>
            {{form.hidden_tag()}}
            <p>{{ form.email.label }}<br> {{form.email()}}</p>
            <p>{{ form.password.label}} <br> {{form.password()}} </p>
            <p class="submit">{{ form.submit()}}</p>
        </div>
    </form>
</main>
{% endblock %}